In [1]:
import numpy as np
import pandas as pd

In [2]:
def _complex(n):
    return np.random.random(n) + np.random.random(n) * 1j

In [18]:

path = '/Users/rylanspence/Desktop/Git/Adcirc/Adcirc_DA/tpath/tfile.csv'

for i in range(3):
    z = _complex(int(10e4))
    
    if i==0:
        np.savetxt(path,z)
    else:
        w = np.loadtxt(path,dtype=complex)
        zstack = np.column_stack((w,z))
        np.savetxt(path,zstack)

In [44]:
from pathlib import Path  



# Create path and make directory
fpath = Path('/Users/rylanspence/Desktop/Git/Adcirc/Adcirc_DA/tpath/tfile.csv')  
fpath.parent.mkdir(parents=True, exist_ok=True) 



for step in range(3):
    
    z = _complex(int(10e4))
    
    if step==0:
        pd.DataFrame(z).to_csv(fpath)
    else:  
        print('test')
#         tdf = pd.read_csv(fpath)
#         tdf.insert(z)
#         tdf.to_csv(fpath,header=None,index=True)
        pd.DataFrame(z).to_csv(fpath,
                              mode='a',
                              header=None,
                              index=False)

test
test

In [32]:
pd.DataFrame(z).to_csv(fpath)

In [ ]:
for i in range(3):
    
    z = _complex(int(10e4))
    
    if i==0:
        np.savetxt(path,z)
    else:
        w = np.loadtxt(path,dtype=complex)
        zstack = np.column_stack((w,z))
        np.savetxt(path,zstack)

In [25]:
df.head(5)

                    0
0  0.145193+0.364768j
1  0.859460+0.397588j
2  0.484900+0.166156j
3  0.127715+0.245437j
4  0.051368+0.317715j

In [19]:
tdf = pd.read_csv(path,quotechar="'")

In [11]:
z.shape

(100000,)

In [20]:
tdf.head(5)

   (4.459533083334875636e-01+6.273614537471515762e-01j)  (2.807069507906828632e-01+5.158033556387230378e-01j)  (6.208316794893876667e-01+3.235941097782931708e-01j)
0   (4.814284105774413458e-02+4.57208857162987980...
1   (2.071209571504183389e-01+9.39446266021847109...
2   (5.164959722361416317e-01+1.31418425846546949...
3   (5.032754070486367137e-01+3.54193674095613531...
4   (4.556646156936783321e-01+9.50372227791425827...

In [22]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 1 columns):
 #   Column                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                             --------------  -----
 0    (4.459533083334875636e-01+6.273614537471515762e-01j)  (2.807069507906828632e-01+5.158033556387230378e-01j)  (6.208316794893876667e-01+3.235941097782931708e-01j)  99999 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB